@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.btn {
    padding: .75rem 2rem;
    outline: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #3a6d8c;
    background-color: #3a6d8c;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
    background-color: white;
    border: 3px solid #3a6d8c;
}

.section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#reg {
    background-color: white;
    border: 3px solid #001f3f;
    color:#001f3f;
}

#reg:hover {
    background-color: #001f3f;
    color: white;
}

.btn:hover {
    background-color: #3a6d8c;
    color: white;
}

.btns {
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav_logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #001f3f;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_logo a:hover {
    color: #3a6d8c;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link a {
    font-weight: 500;
    color: #6a6a6a;
    transition: .3s;
}

.link a:hover {
    color: #001f3f;
}

header {
    margin-top: 75px;
    text-align: center;
}

header h1, h3 {
    line-height: 3rem;
}

header h1 {
    font-size: 3rem;
}

header h3 {
    font-size: 1.5rem;
}

header p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.reg-body {
    padding: 50px;
}

.container {
    max-width: 800px !important;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.form-group {
    margin-bottom: 30px;
}

footer {
    background-color: #001f3f;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    margin-top: 6rem;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    min-height: 125px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #3a6d8c;
}

footer p {
    margin-top: 3rem;
    font-size: 1rem;
}

  /* FOGLALAS CSS */

  .booking__container {
    border-radius: 2rem;
    border: 1px solid #f1f5f9;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
  }
  
  .booking__nav {
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #f1f5f9;
    border-radius: 5px;
  }
  
  .booking__nav span {
    flex: 1;
    padding: 1rem 2rem;
    font-weight: 500;
    color: #64748b;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking__nav span:nth-child(2) {
    color: white;
    background-color: #3d5cb8;
  }
  
  .booking__container form {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 1rem;
  }
  
  .booking__container .form__group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .booking__container .form__group span {
    padding: 10px;
    font-size: 1.5rem;
    color: #0f172a;
    background-color: #f1f5f9;
    border-radius: 1rem;
  }
  
  .booking__container .input__content {
    width: 100%;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: #0f172a;
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #3d5cb8;
    color: #0f172a;
  }
  
  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #64748b;
  }
  
  .booking__container .btn {
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: #3d5cb8;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    background-color: #334c99;
  }

  /* UTAZASI SEGITSEG CSS */

  .plan__container .subheader {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    color: #0f172a;
    letter-spacing: 5px;
    margin-top: 5rem;

  }
  
  .plan__container .section__header {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  
  .plan__container .description {
    text-align: center;
    color: #64748b;
  }
  
  .plan__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .plan__content .number {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: white;
    background-color: #3d5cb8;
    border-radius: 2rem;
  }
  
  .plan__content .number:nth-child(4) {
    background-color: #e98b6d;
  }
  
  .plan__content .number:nth-child(7) {
    background-color: #ffcca3;
  }

  .plan__content .number:nth-child(10) {
    background-color: rgb(233, 233, 130);
  }
  
  .plan__content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #0f172a;
    margin-bottom: 0.5rem;
  }
  
  .plan__content p {
    color: #64748b;
    margin-bottom: 2rem;
  }
  
  .plan__image {
    position: relative;
  }
  
  .plan__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .plan__image img:nth-child(1) {
    max-width: 250px;
    transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
  }
  
  .plan__image img:nth-child(2) {
    max-width: 260px;
    transform: translate(-50%, calc(-50% - 5rem));
  }
  
  .plan__image img:nth-child(3) {
    max-width: 230px;
    transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
  }

    /* MEDIA QUERY */

  @media (width < 900px) {
    nav .btn {
      display: none;
    }
  
    .header__container img {
      min-width: 900px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  
    .booking__container form {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .plan__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .plan__image {
      min-height: 600px;
      grid-area: 1/1/2/2;
    }
    .footer__container {
      gap: 2rem;
    }
  }
  @media (width < 600px) {
    .nav__links {
      display: none;
    }
  
    .booking__nav span {
      padding: 1rem 0.5rem;
    }
  
    .booking__container form {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .footer__container {
      grid-template-columns: 1fr;
    }
  
    .footer__bar {
      flex-direction: column;
      text-align: center;
    }
  }
  