@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

  /* KOZOS CSS */
  
.btn {
  padding: .75rem 2rem;
  outline: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #3a6d8c;
  background-color: #3a6d8c;
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
  background-color: white;
  border: 3px solid #3a6d8c;
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #001f3f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #3a6d8c;
  color: white;
}

.btns {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 800px !important;
  margin: 0 auto;
  padding: 50px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  background-color: #001f3f;
  margin-top: 50px;
  border-radius: 15px;
}

.container h1,h2 {
  color: white;
}

.link a {
  font-weight: 500;
  color: white;
  transition: .3s;
}

 /* NAVBAR, HEADER CSS */
 
.nav_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

 nav {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
  background-color: #001f3f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav_logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav_logo a:hover, .link a:hover {
  color: #3a6d8c;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header {
  margin-top: 75px;
  text-align: center;
}

header h1, h3 {
  line-height: 3rem;
  font-weight: lighter;
  color: white;
}

header h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: 25px;
}

header h3 {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

header p {
  margin-top: 25px;
  margin-bottom: 25px;
}


 /* FOOTER CSS */

footer {
  background-color: #001f3f;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
  margin-top: 6rem;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  min-height: 125px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #3a6d8c;
}

footer p {
  margin-top: 3rem;
  font-size: 1rem;
}

 /* FOGLALAS CSS */

 .booking__container, .ticket__container {
  border-radius: 2rem;
  border: 1px solid white;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.booking__nav {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #001f3f;
  border-radius: 5px;
}

.booking__nav span {
  flex: 1;
  padding: 1rem 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.booking__nav span.active {
  background-color: white;
  color: #001f3f;
}

.booking__nav span:not(.active) {
  color: white;
  background-color: #001f3f;
}

.booking__container form {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.booking__container input {
  height: 35px;
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #001f3f;
  border-radius: 4px;
}

.booking__container .form__group {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-right: 25px;
}

.booking__container .form__group span i {
  font-size: 1.7rem;
  color: white;
  background-color: #001f3f;
}

.booking__container .input__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.booking__container .input__group {
  width: 100%;
  position: relative;
}

.booking__container label {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  pointer-events: none;
  transition: 0.3s;
  top: -1.4rem;
}

.booking__container .btn {
  padding: 0.6rem;
  font-size: 1.4rem;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100px;
}

/* UTAZASI SEGITSEG CSS */

.plan__container .subheader {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  color: #577c8e;
  letter-spacing: 5px;
  margin-top: 5rem;

}

.plan__container .section__header {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  color: white;
}

.plan__container .description {
  text-align: center;
  color: white;
}

.plan__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.plan__content .number {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: white;
  background-color: #577c8e;
  border-radius: 2rem;
}

.plan__content .number:nth-child(4) {
  background-color: #e98b6d;
}

.plan__content .number:nth-child(7) {
  background-color: #ffcca3;
}

.plan__content .number:nth-child(10) {
  background-color: rgb(233, 233, 130);
}

.plan__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 0.5rem;
}

.plan__content p {
  color: #577c8e;
  margin-bottom: 2rem;
}

.plan__image {
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  border-radius: 10rem; 
  width: 100%; 
  height: 100%; 
}

.plan__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover; 
  border-radius: inherit;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.plan__image img:nth-child(1) {
  max-width: 250px;
  transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
}

.plan__image img:nth-child(2) {
  max-width: 260px;
  transform: translate(-50%, calc(-50% - 5rem));
}

.plan__image img:nth-child(3) {
  max-width: 230px;
  transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
}

/* LOGIN, REG CSS */

.login-body h2, .reg-body h2, .form-btn {
  text-align: center;
}

.reg-body {
  padding: 0px;
}

.login-body form, .reg-body form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
  margin-bottom: 30px;
}

.form-group input {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #001f3f;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
  border-color: #001f3f;
  box-shadow: 0 0 5px rgba(17, 44, 70, 0.5);
}

.form-group input::placeholder {
  color: #64748b;
  font-size: 0.9rem;
}

.form-btn input {
  width: 50%;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-btn input:hover {
  transform: scale(1.02);
}

/* KAPCSOLAT CSS */

#contact form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact, #profile {
  max-width: 800px !important;
  margin: 0 auto;
  padding: 50px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  margin-top: 50px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
width: 100%;
height: 32px;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

#contact textarea {
height: 75px;
resize: none;
}

#contact button {
padding: 10px 20px;
margin-top: 15px;
font-size: 16px;
border-radius: 25px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;
}

#contact button:active {
transform: scale(0.95);
}

#contact label {
  font-weight: bold;
  color: #001f3f;
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

#profile .section__container {
  background-color: #f5f5f5;
  height: 400px;
}

#contact h2, #profile h2 {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

/* SLIDESHOW CSS */

.slideshow-tarolo {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #dbeefb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.prev:hover, .next:hover {
  background-color: #dbeefb;
  color: #1b262c;
  border-radius: 30px;
  opacity: 0.8;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
  margin-top: 25px;
}

.dot.active {
  background-color: #717171;
}

.slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  width: 100%;
  z-index: 10;
  min-height: 75px;
  text-align: left;
}

.slideshow-tarolo {
  position: relative;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Jegy szekció CSS */
.flight-block {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flight-block .btn {
  margin: 20px 43%;
  margin-bottom: 0px;
}

.flight-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
}

.flight-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-align: center;
}

.flight-item span {
  font-weight: bold;
}

.flight-info p {
  margin: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

#availableFlights h2 {
  color: white;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 300;
}

#availableFlights {
  margin-bottom: 5rem;
}

#flightList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#sortControls {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sortControls .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

  /* FOGLALASI OLDAL SZEKCIO */

#flightDetails {
  width: auto;
  background-color: #f5f5f5;
  color: #001f3f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#booking input[type="text"],
#booking input[type="email"]{
width: 100%;
height: 32px;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
box-sizing: border-box;
}

#booking label {
  font-weight: bold;
  color: #001f3f;
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

#booking h1 {
  font-size: 1.6em;
  color: white;
  text-align: center;
  font-weight: 500;
}

#booking h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #001f3f;
  font-weight: 500;
}

#passengerInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.passenger {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.passenger h3 {
  margin-top: 0;
  margin-bottom: -25px;
  font-size: 1.2em;
  color: #001f3f;
  text-align: center;
  font-weight: 500;
}

.passenger label {
  display: block;
  margin: 5px 0 5px 0;
  font-weight: bold;
}

.passenger input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.passenger input[type="date"] {
  width: auto;
}

#totalCost {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

#booking .btn {
  margin-left: 40%;
}

  /* MEDIA QUERY */

@media (width < 900px) {
  nav .btn {
    display: none;
  }

  .header__container img {
    min-width: 900px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .booking__container form {
    grid-template-columns: repeat(2, 1fr);
  }

  .plan__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .plan__image {
    min-height: 600px;
    grid-area: 1/1/2/2;
  }
  .footer__container {
    gap: 2rem;
  }
}
@media (width < 600px) {
  .nav__links {
    display: none;
  }

  .booking__nav span {
    padding: 1rem 0.5rem;
  }

  .booking__container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__bar {
    flex-direction: column;
    text-align: center;
  }
}

/* Hamburger menü stílusok */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

@media (max-width: 900px) {
  .nav_links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #001f3f;
      width: 100%;
      text-align: center;
  }

  .nav_links.show {
      display: flex;
  }

  .btns {
      display: none;
  }

  .hamburger {
      display: flex;
  }
}
